body{
    background-color: pink;
}
*{
    box-sizing: border-box;
}
#contenedor{
    width: 50%;/*largo centrado*/
    height: 200px;/*largo*/
    background-color: black;
    float: left;
}
#panel{
    width: 50%;/*largo centrado*/
    height: 200px;/*largo*/
    background-color: blue;
    padding: 10px;
    border:10px solid red;
    float: left;
}
#panelIzquierdo{
    width: 30%;
    height: 103%;
    border: 5px solid rgb(0, 0, 0);
    float: left;
}
#panelDerecho{
    width: 100%;
    height: 100%;
    border: 5px solid rgb(0, 0, 0);
    float: left;
}
/*primer punto*/
#primero{
    width: 70%;/*largo centrado*/
    height: 300%;/*largo*/
    background-color: rgba(44, 88, 233, 0.966);
    position: sticky;
    border: 2px solid black;
    margin: auto;
    float: left;
}
#segundo{
    width: 20%;/*largo centrado*/
    height: 200%;/*alto*/
    background-color: rgb(192, 72, 72);
    position: sticky;
    border: 2px solid black;
    margin: auto;
    float: left;
}
#tercero{
    width: 20%;/*largo centrado*/
    height: 100%;/*alto*/
    background-color: rgb(130, 82, 175);
    position: sticky;
    border: 2px solid black;
    margin: auto;
    float: left;
}
#cuarto{
    width: 45%;/*largo centrado*/
    height: 70%;/*alto*/
    background-color: rgb(238, 177, 63);
    position: sticky;
    border: 2px solid black;
    margin: auto;
    float: left;
}
#cuatrodos{
    width: 45%;/*largo centrado*/
    height: 70%;/*alto*/
    background-color: rgb(238, 177, 63);
    position: sticky;
    border: 2px solid black;
    margin: auto;
    float: left;
}
